/* Das folgende CSS wird für alle Benutzeroberflächen geladen. */
/* Wikiunity Standart Logo*/
#p-logo a{
background-position: center center;
background-repeat: no-repeat;
background-image: url("/w/extensions/GlobWU/HomePack/de/images/Staff-wu-logo.png") !important;
}
